<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal JavaScript</title>
    <link rel="stylesheet" href="../public/css/editar_obra.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>



  <body>
          <a href="editar_excluir.html"><div class="modal-header" id="close-modal"><img id="arrow" src="../projeto_frontend/images/arrow.png"></div>
            <div class="titulo-suas-obras"><h1><strong>Editar obras</strong></h1>
              <div class="imagem-projeto"><img src="../projeto_frontend/images/predio2.jpg"></div>
              <button id="trocar-imagem">Trocar imagem</button>
            </div>
          </a>

            <form method="post" action="/servico/editarServico">
                <input type="hidden" name="id_servico" value="<%= obras.id_servico %>" />
                <div class="editar-informacoes">

                    <!-- NOME -->
                    <div class="divnome">
                        <label id="servico_nome" for="">*nome</label>
                        <input class="input" name="nome" type="text" value="<%=obras.nome%>" /><br>
                    </div>

                    <!-- LOGRADOURO -->
                    <div class="logradouro">
                        <label id="logradouro" for="">*logradouro</label>
                        <input class="input" name="logradouro" id="logradouro" type="text" value="<%=obras.logradouro%>"/>
                    </div>
                
                <div class="endereco">  

                    <!-- BAIRRO -->
                    <div class="bairro">
                        <label id="bairroinput" for="">*bairro</label>
                        <input class=" input inputMenor" id="endereco" name="bairro" type="text" value="<%=obras.bairro%>" />
                    </div>
                    
                    <!-- <div class="cidade">
                        <h3>Cidade:</h3> 
                        <input id="endereco" type="select" value="Buritis">
                    </div>

                    <div class="estado">
                        <h3>Estado:</h3>  
                        <input id="endereco" type="select" value="Minas Gerais">
                    </div> -->

                </div>

                <div class="endereco">
                    <div class="bairro">
                        <label id="data_inicio" for="">*data inicio</label>
                        <input class="input" id="endereco" name="data_abertura" type="text" value="<%=obras.data_abertura%>" /><br>
                    </div>
                    <div class="previsao-entrega">
                        <label id="data_fim" for="">*data entrega</label>
                        <input class="input" id="previsao-entrega" name="data_finadlizacao" type="text" value="<%=obras.data_finadlizacao%>" /><br>
                    </div>
                </div>

                <div>
                    <label id="num" for="">*numero</label>
                    <input class="input" name="numero" type="text" value="<%=obras.numero%>" /><br>
                </div>


                <!-- <div class="endereco">  
                    
                    <div class="bairro">
                    <h3>Especialidade:</h3>  
                    <input id="endereco" type="text" value="02/01/2023">
                    </div>

                    
                    <div class="previsao-entrega">
                    <h3>Tamanho da obra:</h3> 
                    <input id="previsao-entrega" type="text" value="02/01/2025">
                    </div>
                </div> -->

                <!-- DESCRIÇÃO -->
                <div class="logradouro">
                    <label id="desc" for="">*descricao</label>
                    <input class="input" id="descricao" name="descricao" type="text" value="<%=obras.descricao%>" /><br>
                </div>
                <div class="atualiza-projeto"><button class="buttonContinuar" id="atualiza-projeto" type="submit">Confirmar Alterações</button></div>

            </form>




        </div>
    </div>
  </body>


  
</html>
