<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/login.css">
        <title>Perfil</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand url" href="../feed/mrv"><img class="logo" src="../public/images/mrvlogo.png" ></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <div id="nomesnavbar"class="nomesnavbar">
                        <ul  id=""class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        </ul>
                    
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            <li class="nav-item dropdown">
                                <a class="nav-link url" href="../feed/mrv" role="button"  >
                                    <img class="voltar" src="../public/images/setaVoltar.svg">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <form method="post">
            
            <div id="corpo">
                <div id="corpo_left">
                    <!--div id="corpo_left_left"-->
                        <img id="profile_picture" src="https://www.nailseatowncouncil.gov.uk/wp-content/uploads/blank-profile-picture-973460_1280.jpg">
                    <!--/div-->
                    <!--div id="corpo_left_right"-->
                    <input type="hidden" name="id_empreiteira" value="" />
                    
                        <h1 id="profile_name" name="nome_fantasia" >Nome: <%-empreiteira.nome_fantasia%></h1>
                        <div id="contact_icons">
                            <div>
                                <img class="icons" src="../public/images/whatsapp.svg">
                                <img class="icons" src="../public/images/instagram.svg">
                                <img class="icons" src="../public/images/facebook.svg">
                                <img class="icons" src="../public/images/email.svg">
                                <img class="icons" src="../public/images/phone.svg">
                            </div>
                        </div>
                        <div id="profile_rating">
                            <div>
                                <img class="rating_star" src="../public/images/star.svg">
                                <p class="profile_rating-text">4.7</p>
                            </div>
                        </div>
                    <!--/div-->
                </div>
            
                <div id="corpo_right">
                    <hr class="lines">
                    <div id="Recomendações">
                        <h1 class="corpo_titulos">Informações gerais</h1>
                        <div class="scroll-bg">
                            <ul>
                                <div class="informacoesGerais">       
                                    <div>
                                        <div>
                                            <h1 class="rec-list-titulo">Nome:</h1>
                                            <p class="rec-list-text"> <%-empreiteira.nome_fantasia%></p>
                                        </div>
                                    
                                        <div>
                                            <h1 class="rec-list-titulo">CNPJ:</h1>
                                            <p class="rec-list-text"><%-empreiteira.cnpj%></p>
                                        </div>
                                    </div>

                                    <div>
                                        <div>
                                            <h1 class="rec-list-titulo">Data de abertura:</h1>
                                            <p class="rec-list-text"><%-empreiteira.data_de_abertura%></p>
                                        </div>
                                        <div>
                                            <h1 class="rec-list-titulo">Quantidade de funcionarios:</h1>
                                            <p class="rec-list-text"><%-empreiteira.qtd_funcionario%></p>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <hr class="lines">
                    <div id="Recomendações">
                        <h1 class="corpo_titulos">Endereço</h1>
                        <div class="scroll-bg">
                            <ul>
                                <div class="informacoesGerais">
                                    <div>
                                        <div>
                                            <h1 class="rec-list-titulo">Logradouro: </h1>
                                            <p class="rec-list-text"> <%-empreiteira.logradouro%> - <%-empreiteira.numero%> </p>
                                        </div>
                                        <div>
                                            <h1 class="rec-list-titulo">Bairro:</h1>
                                            <p class="rec-list-text"><%-empreiteira.bairro%></p>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <h1 class="rec-list-titulo">Cidade/Estado: </h1><p class="rec-list-text"><%-empreiteira.cidade%></p>
                                        </div>
                                        <div>
                                            <h1 class="rec-list-titulo">Estado:</h1>
                                            <p class="rec-list-text"><%-empreiteira.estado%></p>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <hr class="lines">
                    <div id="Descrição">
                        <h1 class="corpo_titulos">Descrição:</h1>
                        <p id="corpo_descrição"><%-empreiteira.descricao%></p>
                    </div>
                    <br>
                    <hr class="lines">
                    <div id="Recomendações">
                        <h1 class="corpo_titulos">Recomendações:</h1>
                        <div class="scroll-bg">
                                    <ul>
                                        <div>
                                            <h1 class="rec-list-titulo">Recommendation 1:</h1>
                                            <p class="rec-list-text"> <%-empreiteira.descricao_prazo%></p>
                                        </div>
                                        <br><div>
                                            <h1 class="rec-list-titulo">Recommendation 2:</h1>
                                            <p class="rec-list-text"><%-empreiteira.descricao_qualidade%></p>
                                        </div>
                                        <br><div>
                                            <h1 class="rec-list-titulo">Recommendation 3:</h1>
                                            <p class="rec-list-text"><%-empreiteira.descricao_limpeza_organizacao%></p>
                                        </div>

                                    </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../../public/js/url.js"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</html>